* {
  box-sizing: border-box;

}

#form_body {
  margin: 10px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 30px;
}

#table_body {
  margin: 10px;
  padding: 10px;
}

table,th,td{
  text-align: center;
}

#action_btn{
  margin: 5px;
}

#details_body{
  width: 80%;
  margin-top: 50px;
  border: 3px solid black;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 20px 20px 20px;
}

#filter_body{
  margin: 10px;
}

#search_body{
  float: right;
  width: 400px;
  border: 2px solid black;
}

#pagination_body{
  margin: 5px;
}